@import "tailwindcss";
/*
  ---break---
*/
@custom-variant dark (&:is(.dark *));

@import "tw-animate-css";

@variant dark (&:is(.dark *));

@theme {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --color-sidebar: hsl(var(--sidebar-background));
  --color-sidebar-foreground: hsl(var(--sidebar-foreground));
  --color-sidebar-primary: hsl(var(--sidebar-primary));
  --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
  --color-sidebar-accent: hsl(var(--sidebar-accent));
  --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
  --color-sidebar-border: hsl(var(--sidebar-border));
  --color-sidebar-ring: hsl(var(--sidebar-ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --font-logo: "Manrope", Arial, Helvetica, sans-serif;

  --color-green-gradient: var(--color-green-gradient);
  --color-blue-gradient: var(--color-blue-gradient);

  --color-blue-primary: #122E44;
  --color-green-primary: #0BAA69;
  --color-white-primary: #FFFFFF;

  --color-green-secondary: #55DF63;
  --color-purple-secondary: #D8AFFF;
  --color-black-secondary: #000000;

}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: "Girloy";
  src: url("/fonts/girloy/gilroy-bold-webfont.woff2") format("woff2"),
    url("/fonts/girloy/gilroy-bold-webfont.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Girloy";
  src: url("/fonts/girloy/gilroy-semibold-webfont.woff2") format("woff2"),
    url("/fonts/girloy/gilroy-semibold-webfont.woff") format("woff");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/inter-regular-webfont.woff2") format("woff2"),
    url("/fonts/inter/inter-regular-webfont.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/inter-medium-webfont.woff2") format("woff2"),
    url("/fonts/inter/inter-medium-webfont.woff") format("woff");
  font-weight: 500;
}

@layer utilities {
  body {
    font-family: "Inter", "Manrope", Arial, Helvetica, sans-serif;
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(211 58% 17%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(211 58% 17%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(211 58% 17%);
    --primary: hsl(211 58% 17%); /* #122E44 */
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(132 73% 60%); /* #55DF63 */
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(270 100% 84%); /* #D8AFFF */
    --muted-foreground: hsl(211 58% 17%);
    --accent: hsl(132 73% 60%); /* same as light green */
    --accent-foreground: hsl(211 58% 17%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(211 58% 17%);
    --input: hsl(211 58% 17%);
    --ring: hsl(132 73% 60%);
    --chart-1: hsl(160 90% 55%); /* based on #0BAA69 */
    --chart-2: hsl(132 73% 60%); /* light green */
    --chart-3: hsl(270 100% 84%); /* purple */
    --chart-4: hsl(204 100% 31%); /* #007397 */
    --chart-5: hsl(133 85% 56%); /* #17E53A */
    --radius: 0.6rem;
    --color-green-gradient: hsl(130, 82%, 49%);
    --color-blue-gradient: hsl(194, 100%, 30%);
  }

  .dark {
    --background: hsl(211 58% 17%);
    --foreground: hsl(0 0% 100%);
    --card: hsl(211 58% 17%);
    --card-foreground: hsl(0 0% 100%);
    --popover: hsl(211 58% 17%);
    --popover-foreground: hsl(0 0% 100%);
    --primary: hsl(0 0% 100%);
    --primary-foreground: hsl(211 58% 17%);
    --secondary: hsl(132 73% 60%);
    --secondary-foreground: hsl(0 0% 0%);
    --muted: hsl(270 100% 84%);
    --muted-foreground: hsl(0 0% 0%);
    --accent: hsl(132 73% 60%);
    --accent-foreground: hsl(0 0% 0%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(0 0% 100%);
    --input: hsl(0 0% 100%);
    --ring: hsl(132 73% 60%);
    --chart-1: hsl(160 90% 55%);
    --chart-2: hsl(132 73% 60%);
    --chart-3: hsl(270 100% 84%);
    --chart-4: hsl(204 100% 31%);
    --chart-5: hsl(133 85% 56%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1, h2 {
    font-family: "Girloy", "Inter", "Manrope", Arial, Helvetica, sans-serif;
    font-weight: 700;
  }

  h3, h4, h5, h6 {
    font-family: "Girloy", "Inter", "Manrope", Arial, Helvetica, sans-serif;
    font-weight: 600;
  }

  p, a, li, div, button, span, label {
    font-family: "Inter", "Manrope", Arial, Helvetica, sans-serif;
  }
}

/*
  ---break---
*/

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 3.9%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
}

/*
  ---break---
*/

.dark {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(240 3.7% 15.9%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);
  --color-gray-500:hsl(240 3.7% 45.9%);
}

/*
  ---break---
*/

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/*
  ---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
